.contact-area {
  .contact-form {
    padding-top: 16px;
    .form-items {
      padding: 40px;
      width: 100%;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      text-align: left;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;

      @media #{$xs-device} {
        padding: 4px !important;
      }

      h3 {
        color: rgb(65, 61, 61);
        text-align: left;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      // p {
      //   color: #fff;
      //   text-align: left;
      //   font-size: 17px;
      //   font-weight: 300;
      //   line-height: 20px;
      //    margin-bottom: 30px;
      // }
      input {
        width: 100%;
        // padding: 9px 20px;
        text-align: left;
        // border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #fff;
        font-size: 15px;
        font-weight: 300;
        color: #363232;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-top: 16px;
      }
      textarea {
        position: static !important;
        width: 100%;
        padding: 8px 20px;
        border-radius: 6px;
        text-align: left;
        background-color: #fff;
        border: 0;
        font-size: 15px;
        font-weight: 300;
        color: #363232;
        outline: none;
        resize: none;
        height: 120px;
        -webkit-transition: none;
        transition: none;
        margin-top: 16px;
        margin-bottom: 14px;
      }
      form {
        p {
          color: #d86537;
          padding-top: 6px;
          padding-left: 6px;
          font-size: 12.5px;
        }
      }
      .form-editor {
        margin-top: 8px;
      }
    }
  }
}
