.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    .product-name{     
        p{
         margin-bottom: 4px !important;
         color: black;
        }
    }
    .deleteBtn{
        border: none;
        background-color: white;
        &:hover{
            color:red
        }
    }
}

.checkout-footer{
    width: 100%;  
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    color: #fff;
    font-family: Roboto,Arial,sans-serif;
    width: 100%;
    height: 48px;  
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    font-size: 15px;
  a{
     
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
  }
   
}
.cartIconHeader{
    border-radius: 50%;
    background-color: white;
    border: 1px solid teal;
    width:28px
}