:root {
  --fontSize: 14px;
  --transition: 0.5s;
  --mainColor: #ed2775;
  --whiteColor: #ffffff;
  --blackColor: #262a37;
  --gradientColor: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
  --gradientBlue: linear-gradient(44.44deg, #1a81d9 7.79%, #234ba5 94.18%);
  --gradientGreen: linear-gradient(44.44deg, #e8efea 7.79%, #c3e1cf 94.18%);
  --paragraphColor: #403d49;
  --fontFamily: "Inter", sans-serif;
  scroll-behavior: inherit;

  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 380px;
  --toastify-toast-background: rgb(218, 210, 210);
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  //Used only for colored theme
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: green;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: red;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  // Used when no type is provided
  // toast("**hello**")
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  // Used when no type is provided
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

body {
  margin: 0;
  padding: 0;
  color: var(--blackColor);
  font: {
    size: var(--fontSize);
    family: var(--fontFamily);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blackColor);
  // font-weight: 700;
}
a {
  transition: var(--transition);
  color: var(--blackColor);
  text-decoration: none;
  outline: 0 !important;

  &:hover {
    color: var(--mainColor);
    text-decoration: none;
  }
}
:focus {
  outline: 0 !important;
}
.d-table {
  width: 100%;
  height: 100%;

  &-cell {
    vertical-align: middle;
  }
}
img {
  max-width: 100%;
  height: auto;
}
p {
  color: var(--paragraphColor);
  font-size: var(--fontSize);
  margin-bottom: 15px;
  line-height: 1.8;

  &:last-child {
    margin-bottom: 0;
  }
}
.ptb-100 {
  padding: {
    top: 100px;
    bottom: 100px;
  }
}
.mtb-100 {
  margin: {
    top: 100px;
    bottom: 100px;
  }
}

.mtb-48 {
  margin: {
    top: 48px;
    bottom: 48px;
  }
}

.ptb-50 {
  padding: {
    top: 50px;
    bottom: 50px;
  }
}
.ptb-12 {
  padding: {
    top: 12px;
    bottom: 12px;
  }
}

.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-50 {
  padding-bottom: 50px;
}
.ptb-75 {
  padding: {
    top: 75px;
    bottom: 75px;
  }
}
.pt-75 {
  padding-top: 75px;
}
.pb-75 {
  padding-bottom: 75px;
}
.bg-F7F7FF {
  background-color: #f7f7ff;
}
.bg-F4F8FC {
  background-color: #f4f8fc;
}
.bg-f9f9f9 {
  background-color: #f9f9f9;
}

/* default-btn */
.default-btn {
  z-index: 1;
  border: none;
  position: relative;
  padding: 12px 35px;
  border-radius: 30px;
  display: inline-block;
  color: var(--whiteColor);
  transition: var(--transition);
  box-shadow: 0px 12px 35px rgba(237, 39, 117, 0.25);
  font: {
    size: var(--fontSize);
    weight: 600;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    transition: var(--transition);
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 30px;
    background: var(--gradientColor);
  }
  &:hover {
    background-color: var(--mainColor);
    color: var(--whiteColor);

    &::before {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.default-btn-blue {
  z-index: 1;
  border: none;
  position: relative;
  padding: 12px 35px;
  border-radius: 30px;
  display: inline-block;
  color: var(--whiteColor);
  transition: var(--transition);
  box-shadow: 0px 12px 35px rgba(237, 39, 117, 0.25);
  font: {
    size: var(--fontSize);
    weight: 600;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    transition: var(--transition);
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 30px;
    background: var(--gradientBlue);
  }
  &:hover {
    background-color: var(--mainColor);
    color: var(--whiteColor);

    &::before {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.default-btn-sm {
  z-index: 1;
  border: none;
  position: relative;
  padding: 8px 24px;
  border-radius: 30px;
  display: inline-block;
  color: var(--whiteColor);
  transition: var(--transition);
  box-shadow: 0px 12px 35px rgba(237, 39, 117, 0.25);
  font: {
    size: var(--fontSize);
    weight: 600;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    transition: var(--transition);
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 30px;
    background: var(--gradientColor);
  }
  &:hover {
    background-color: var(--mainColor);
    color: var(--whiteColor);

    &::before {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.small-btn {
  z-index: 1;
  border: none;
  position: relative;
  padding: 4px 24px;
  border-radius: 5px;
  display: inline-block;
  color: var(--whiteColor);
  transition: var(--transition);
  box-shadow: 0px 12px 35px rgba(237, 39, 117, 0.25);
  font: {
    size: var(--fontSize);
    weight: 600;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    transition: var(--transition);
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 5px;
    background: var(--gradientColor);
  }
  &:hover {
    background-color: var(--mainColor);
    color: var(--whiteColor);

    &::before {
      opacity: 0;
      visibility: hidden;
    }
  }
}

/* section-title */
.section-title {
  text-align: center;
  max-width: 660px;
  margin: {
    left: auto;
    right: auto;
  }
  .sub-title {
    display: block;
    margin-bottom: 10px;
    background: var(--gradientColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  h2 {
    line-height: 1.4;
    margin-bottom: 0;
    font-size: 36px;
  }
  p {
    font-size: 16px;
    margin-top: 10px;
  }
  &.color-white {
    .sub-title {
      color: var(--whiteColor);
    }
    h2 {
      color: var(--whiteColor);
    }
  }
}

.ck-editor__editable_inline {
  min-height: 172px;
}

.Toastify__toast {
  min-height: 0 !important;
  border-radius: 0 !important;
}

.Toastify__toast--error {
  color: rgb(255, 255, 255);
  background: red;
}
.Toastify__toast--success {
  color: rgb(255, 255, 255);
  background: rgb(5, 129, 5);
}
